apiVersion: apps/v1
kind: Deployment
metadata:
  name: supabase-auth
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: supabase-auth
  template:
    metadata:
      labels:
        app: supabase-auth
    spec:
      containers:
        - name: auth
          image: supabase/gotrue:v2.132.3
          ports:
            - containerPort: 9999
          env:
            - name: GOTRUE_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: supabase-secrets
                  key: JWT_SECRET
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: supabase-secrets
                  key: GOTRUE_DB_DATABASE_URL
          envFrom:
            - configMapRef:
                name: supabase-config
---
apiVersion: v1
kind: Service
metadata:
  name: supabase-auth
  namespace: default
spec:
  selector:
    app: supabase-auth
  ports:
    - protocol: TCP
      port: 9999
      targetPort: 9999
