apiVersion: v1
kind: ConfigMap
metadata:
  name: supabase-config
  namespace: default
data:
  # General
  POSTGRES_DB: postgres
  POSTGRES_HOST: supabase-db
  POSTGRES_PORT: "5432"
  
  # Auth (GoTrue)
  GOTRUE_API_HOST: "0.0.0.0"
  GOTRUE_API_PORT: "9999"
  GOTRUE_DB_DRIVER: postgres
  GOTRUE_SITE_URL: "http://localhost:3000" # Update with your domain
  GOTRUE_URI_ALLOW_LIST: "*"
  GOTRUE_EXTERNAL_EMAIL_ENABLED: "true"
  GOTRUE_MAILER_AUTOCONFIRM: "true"
  
  # Rest (PostgREST)
  PGRST_DB_SCHEMAS: "public,storage,graphql_public"
  PGRST_DB_ANON_ROLE: "anon"
  
  # Realtime
  REPLICATION_MODE: "RLS"
  REPLICATION_POLL_INTERVAL: "100"
  SECURE_CHANNELS: "true"
  SLOT_NAME: "supabase_realtime_rls"
  TEMPORARY_SLOT: "true"
  DB_AFTER_CONNECT_QUERY: 'SET search_path TO _realtime'
  
  # Storage
  STORAGE_BACKEND: "file"
  FILE_STORAGE_BACKEND_PATH: "/var/lib/storage"
  TENANT_ID: "stub"
  REGION: "stub"
  GLOBAL_S3_BUCKET: "stub"
  FILE_SIZE_LIMIT: "52428800"
  
  # Meta
  PG_META_PORT: "8080"
  
  # Kong
  KONG_DATABASE: "off"
  KONG_DNS_ORDER: "LAST,A,CNAME"
  KONG_PLUGINS: "request-transformer,cors,key-auth,acl"
